.main-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: @color-main;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;
  }

  &__basket {
    margin-left: auto;
  }
}