.basket {
  display: flex;
  align-items: center;
  color: @color-text_contrast;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;

  &__text {
    margin-right: 3px;
  }

  &__count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 7px;
    padding-bottom: 3px;
    line-height: 1;
    border-radius: 50%;
    background-color: @product-card;
    color: @color-text;
  }
}