/** Text Colors **/ 
@color-text: #666666;
@color-text_dark: #000000;
@color-text_contrast: #ffffff;

/** Products cards **/
@color-main: #323232;

@product-card: #ffffff;
@product-card_curious-blue: #1698d9;
@product-card_razzmatazz: #d91667;
@product-card_disabled: #b3b3b3;
