header.main-header
    div.main-header__container.container
        div.main-header__logo.main-logo Нямушка
        div.main-header__basket.basket
            span.basket__text Товары:
            span.basket__count 0