section.products
    div.products__container.container
        h1.products__slogan.visually-hidden Наши продукты
        p.products__sub-slogan Ты сегодня покормил кота?
        ul.products__list
            li.products__item.products__item_type_foie-gras(data-product-name="foie-gras")
                b.products__lead Сказочное заморское яство
                h2.products__name-container 
                    span.products__name Нямушка 
                    span.products__flavor с фоу-грас
                ul.products__options-list.options-list
                    li.options-list__item 10 порций
                    li.options-list__item мышь в подарок
                div.products__bottom
                    img.products__image(src="images/product-photo-min.png", alt="Кот с брелком от компании Funbox")
                    div.products__weight
                        span.products__weight-text 0.5 
                        span.products__weight-unit кг
            li.products__item.products__item_type_fish(data-product-name="fish")
                b.products__lead Сказочное заморское яство
                h2.products__name-container
                    span.products__name Нямушка 
                    span.products__flavor с рыбой
                ul.products__options-list.options-list
                    li.options-list__item 10 порций
                    li.options-list__item мышь в подарок
                div.products__bottom
                    img.products__image(src="images/product-photo-min.png", alt="Кот с брелком от компании Funbox")
                    div.products__weight
                        span.products__weight-text 2 
                        span.products__weight-unit кг
            li.products__item.products__item_type_chicken.products__item_view_disabled(data-product-name="chicken")
                b.products__lead Сказочное заморское яство
                h2.products__name-container
                    span.products__name Нямушка 
                    span.products__flavor с курой
                ul.products__options-list.options-list
                    li.options-list__item 10 порций
                    li.options-list__item мышь в подарок
                div.products__bottom
                    img.products__image(src="images/product-photo-min.png", alt="Кот с брелком от компании Funbox")
                    div.products__weight
                        span.products__weight-text 5 
                        span.products__weight-unit кг
        