.products {
  position: relative;
  padding-top: 50px;
  padding-bottom: 70px;
  color: @color-text;
  background-color: #000;
  background-image: url('../../../images/pattern-min.jpg');

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  }

  &__container {
    position: relative;
  }

  &__sub-slogan {
    margin: 20px;
    padding: 0;

    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: @color-text_contrast;
    text-shadow: 0 1px 0 #000000;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media @tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }


  &__item {
    position: relative;
    box-sizing: border-box;
    border: 4px solid @product-card;
    padding: 20px 45px;
    background-color: @product-card;
    -webkit-clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
    clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
    cursor: pointer;
    transition: 0.15s linear border-color;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 19px solid transparent;
      border-left: 19px solid @product-card;
      border-top: 19px solid @product-card;
    }

    @media @phone-only {
      margin-bottom: 10px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media @tablet {
      flex-grow: 1;
    }

    @media @tablet-only {
      .column-mixin(2, 10px);
    }

    @media @tablet-landscape-only {
      .column-mixin(3, 40px);
    }

    @media @desktop-only {
      .column-mixin(3, 80px);
    }

    @media @desktop-large {
      .column-mixin(4, 80px);
    }

    &_type {
      &_foie-gras_active,
      &_fish_active {
        transition: 0.15s linear border-color;
      }

      &_foie-gras_active {
        border-color: @product-card_curious-blue;

        &::before {
          border-top-color: @product-card_curious-blue;
          border-left-color: @product-card_curious-blue;
        }
      }
  
      &_fish_active {
        border-color: @product-card_razzmatazz;

        &::before {
          border-top-color: @product-card_razzmatazz;
          border-left-color: @product-card_razzmatazz;
        }
      }
    }
  
    &_view {
      &_disabled {
        cursor: default;
        border-color: @product-card_disabled;

        &::before {
          border-top-color: @product-card_disabled;
          border-left-color: @product-card_disabled;
        }
      }
    }
  }

  &__item_view_disabled {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: @product-card_disabled;
      opacity: 0.6;
    }
  }

  &__lead {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
  }

  &__name-container {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 1.2;
    color: @color-text_dark;
    font-weight: 700;
  }

  &__name,
  &__flavor {
    display: block;
  }

  &__name {
    margin: 0;
  }

  &__flavor {
    font-size: 24px;
  }

  &__options-list {
    margin-bottom: 30px;
  }

  &__bottom {
    position: relative;
    margin-left: -45px;
    margin-right: -45px;
    margin-bottom: -20px;
  }

  &__image {
    display: block;
    border: none;
  }

  &__weight {
    position: absolute;
    bottom: 11px;
    right: 11px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }

  &__item_type_foie-gras &__weight {
    background-color: @product-card_curious-blue;
  }

  &__item_type_fish &__weight {
    background-color: @product-card_razzmatazz;
  }

  &__item_view_disabled &__weight {
    background-color: @product-card_disabled;
  }

  &__weight-text,
  &__weight-unit {
    display: block;
    color: @color-text_contrast;
  }

  &__weight-text {
    font-size: 42px;
    line-height: 1.1;
  }

  &__weight-unit {
    font-size: 21px;
  }
}